<h1>My Cars</h1>
{{!-- <form action="/cars/carDetails" method="POST"> --}}
{{#each ownedCars}}
<div class="car-section row">      
    <img class="home-page-imgages rounded float-left" src="/images/carImages/{{this.image}}">
    <div class="col-md-2 col-sm12">
      <h5>Model</h5>
      <p>{{this.model}}</p><br>
      <h5>Passing Number</h5>
      <p>{{this.passingNumber}}</p>
    </div>
    <div class="col-md-2 col-sm12">
      <h5>Price</h5>
      <p><strong>₹</strong>{{this.price}}<strong><sub>/Day</sub></strong></p><br>
      <h5>Car Type</h5>
      <p>{{this.carType}}</p>
    </div>
    <div class="col-md-2 col-sm12">
      <h5>Year</h5>
      <p>{{this.year}}</p><br>
      <h5>Fuel Type</h5>
      <p>{{this.fuelType}}</p>
    </div>
    <div class="col-md-2 col-sm12">
      <h5>Capacity</h5>
      <p>{{this.capacity}}</p><br>
      <h5>Transmission</h5>
      <p>{{this.transmission}}</p><br>
      <a href="/cars/editPrice/{{this._id}}"><b>EDIT DETAIL</b></a>
      <a href="/cars/withdrawCar/{{this._id}}" onclick="return confirm ('Are you sure you want to withraw car from rental service? ');"><b>WITHDRAW CAR</b></a>
    </div>
  </div>
{{/each}}
{{!-- </form> --}}