<table border="2">
    <tr>
        <th>&emsp;&emsp;Name</th>
        <th>&emsp;&emsp;Email</th>
        <th>&emsp;&emsp;Rented Car Name</th>
        <th>&emsp;&emsp;Passing Number</th>
    </tr>
    {{#each list}}
    <tr>
        <td>&emsp;&emsp;{{this.ownerID.firstName}} {{this.ownerID.lastName}}</td>
        <td>&emsp;&emsp;{{this.ownerID.email}}</td>
        <td>&emsp;&emsp;{{this.model}}</td>
        <td>&emsp;&emsp;{{this.passingNumber}}</td>

    </tr>
    {{/each}}
</table>