<!DOCTYPE html>
<html lang="en">
<body>
   
    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/images/bg_3.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
          <div class="col-md-9 ftco-animate pb-5">
          	<p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Book car <i class="ion-ios-arrow-forward"></i></span></p>
            <h1 class="mb-3 bread">Book Car</h1>
          </div>
        </div>
      </div>
    </section>
       
    <section class="ftco-section contact-section">
      <div class="container">
          <div class="col-md-8 block-9 mb-md-5">
            <form action="/cars/paymentDetails" method="POST" id="rentCar-form" enctype="multipart/form-data">
                <input type="hidden" name="userId" value="{{userId}}" >
                <input type="hidden" name="date" value="{{date}}" >
                <input type="hidden" name="days" value="{{days}}" >
                <input type="hidden" name="rentAmount" value="{{rentAmount}}" >
              <div class="form-group">
                <input type="text" name="cardHolderName" id="cardHolderName" class="form-control" placeholder="Card Holder Name" required>
              </div>
              <div class="form-group">
                <input type="text" name="cardNumber" id="cardNumber" class="form-control" placeholder="Card Number" required>              
              </div>
              <div class="form-group">
                <input type="number" name="expiryMonth" id="expiryMonth" class="form-control" placeholder="Expiry Month" required>
              </div>
              <div class="form-group">
                <input type="number" name="expiryYear" id="expiryYear" class="form-control" placeholder="Expiry Year" required>
              </div>
              <div class="form-group">
                <input type="number" name="cvvNumber" id="cvvNumber" class="form-control" placeholder="CVV Number" required>
              </div>
              <div class="form-group">
                <input type="file" name="licence" class="form-control" required accept="jpg/png/jpeg">
              </div>
              <input type="text" name="carId" value="{{id}}" style="display:none"><br><br>
              <div class="form-group">
                <input type="submit" value="PAY NOW" class="btn btn-primary py-3 px-5">
              </div>
            </form>
          </div>
      </div>
    </section>    
  </body>
</html>

<script src="https://js.stripe.com/v2/"></script>
<script src="/javascripts/rentCar.js"></script>








{{!-- 


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="views\layouts\layout.hbs" rel="Stylesheet"
        type="text/css" />
</head>

<h1>{{foundCar.model}}</h1>

<br> <br>
 <div class="car-section row">      
        <div class="col-md-6 col-sm12">
                <p><img src="/images/carImages/{{foundCar.image}}"></p>
        </div>
        
        <br><br>
        {{!-- <div id="charge-error" class="alert alert-danger {{#if noError}}hidden{{/if}}">
            {{errMsg}}
        </div> 
        <form action="/cars/paymentDetails" method="POST" id="rentCar-form" enctype="multipart/form-data">
                <fieldset>        
                <input type="hidden" name="userId" value="{{userId}}" >
                <input type="hidden" name="date" value="{{date}}" >
                <input type="hidden" name="days" value="{{days}}" >
                <input type="hidden" name="rentAmount" value="{{rentAmount}}" >
                
                <legend>Upload Your Licence:</legend>
                <input type="file" name="licence" class="form-control" required accept="jpg/png/jpeg"><br>
                <legend>Card Holder Name:</legend>
                <input type="text" name="cardHolderName" id="cardHolderName" class="form-control" required>
                <legend>Card Number:</legend>
                <input type="text" name="cardNumber" id="cardNumber" class="form-control" required>
                <legend>Expiry Month:</legend>
                <input type="number" name="expiryMonth" id="expiryMonth" class="form-control" required>
                <legend>Expiry Year:</legend>
                <input type="number" name="expiryYear" id="expiryYear" class="form-control" required>
                <legend>CVV Number:</legend>
                <input type="number" name="cvvNumber" id="cvvNumber" class="form-control" required>
                <input type="text" name="carId" value="{{id}}" style="display:none"><br><br>
                <input type="submit" value="RENT NOW">
                <button type="submit" class="btn btn-success">RENT NOW</button>
                </fieldset>
        </form>
</div>

<script src="https://js.stripe.com/v2/"></script>
<script src="/javascripts/rentCar.js"></script>
 --}}

{{!-- <body>
<form action="/cars/paymentDetails" method="POST" id="rentCar-form" enctype="multipart/form-data">
                <fieldset>      
                <input type="hidden" name="userId" value="{{userId}}" >
                <input type="hidden" name="date" value="{{date}}" >
                <input type="hidden" name="days" value="{{days}}" >
                <input type="hidden" name="rentAmount" value="{{rentAmount}}" >
                <input type="text" name="carId" value="{{foundCar._id}}" style="display:none">  
                <legend>Card Holder Name:</legend>
                <input type="text" name="cardHolderName" id="cardHolderName" class="form-control" required>
                <legend>Card Number:</legend>
                <input type="text" name="cardNumber" id="cardNumber" class="form-control" required>
                <legend>Expiry Month:</legend>
                <input type="number" name="expiryMonth" id="expiryMonth" class="form-control" required>
                <legend>Expiry Year:</legend>
                <input type="number" name="expiryYear" id="expiryYear" class="form-control" required>
                <legend>CVV Number:</legend>
                <input type="number" name="cvvNumber" id="cvvNumber" class="form-control" required>
                <legend>Upload Your Licence:</legend>
                <input type="file" name="licence" class="form-control" required accept="jpg/png/jpeg"><br>
                <button type="submit" class="btn btn-success">RENT NOW</button>
                <input type="submit" value="pay">
                <button type="submit" class="btn btn-success">PAY</button>
                </fieldset>
</form>
</body>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script src="/javascripts/rentCar.js"></script> --}}